{% extends "base.html" %}

{% block content %}

    {% if authors %}
        {% for writer in user %}
            <h2> List of Blog Posts </h2>
            <h3>
                <a href="/blog_posts?id={{ writer.id }}">
                {{ writer.title }}
                </a>
            </h3>
            <p>{{ writer.body }}</p>
            <p>Author: <a href="/blog_posts?user={{ writer.owner_id }}">
                {{ writer.owner.username }}   
            </a></p>
            <hr>
        {% endfor %}

    {% elif page %}
        <h2>{{ post[0].title }}</h2>
        <p>{{ post[0].body }}</p>
        <p> Written by <a href="/blog_posts?user={{ post[0].owner_id }}">
            {{ post[0].owner.username }}
        </a></p>

    {% else %}
        <h2> Build a Blog </h2>
        <div>
            {% for post in posts %}
                
                <h3>
                    <a href="/blog_posts?id={{ post.id }}">
                        {{ post.title }}
                    </a>
                </h3>
                <p>{{ post.body }}</p>
                <p> Written by <a href="/blog_posts?user={{ post.owner_id }}">
                    {{ post.owner.username }}
                </a></p>
                <hr>
            {% endfor %}
        </div>

    {% endif %}

{% endblock %}
